/*Reset */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/*Tag */
a{
    color: white;
    text-decoration: none;
}

/*Classi */


.img-header{
    width:3em;
    height: auto;
}

.search-button{
    background-color:transparent;
    border-color: grey;
    color:grey;

}





/*ID */
