/*Reset */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/*Tag */
a{
    color: white;
    text-decoration: none;
}

/*Classi */


.img-header{
    width:3em;
    height: auto;
}

.search-button{
    background-color:transparent;
    border-color: grey;
    color:grey;

}

.pen-trash-icon{
    color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    border-color: grey;
    padding: 10%;
    
    

}



/*ID */
